@page "/audit"
@using MudBlazorFromScratch.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@*<h3>Location</h3>*@

@if (isLoading)
{
    <div style="margin:10px;padding-right:10px;">
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <MudTable Items="@auditDetails" Hover="true" Breakpoint="Breakpoint.Sm" Style="margin:10px;padding-right:10px;">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Countries</MudTh>
            <MudTh>Primary Auditor</MudTh>
            <MudTh>Audit Date</MudTh>
            <MudTh>Duration</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.AuditId</MudTd>
            <MudTd DataLabel="Countries">@context.CountryNames</MudTd>
            <MudTd DataLabel="Primary Auditor">@context.People[0].Name</MudTd>
            <MudTd DataLabel="Audit Date">@context.AuditDate</MudTd>
            <MudTd DataLabel="Duration">@context.Duration</MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    bool isLoading = true;
    IList<AuditDetail> auditDetails = new List<AuditDetail>();

    protected override async Task OnInitializedAsync()
    {
        auditDetails = await Http.GetFromJsonAsync<IList<AuditDetail>>("api/Audits/Details");



        isLoading = false;
    }

}
