@page "/location"
@using MudBlazorFromScratch.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h3>Location</h3>

@if (locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@locations" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Region</MudTh>
            <MudTh>Subregion</MudTh>
            <MudTh>Country</MudTh>
            <MudTh>Status</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Region">@context.Region</MudTd>
            <MudTd DataLabel="Subregion">@context.Subregion</MudTd>
            <MudTd DataLabel="Country">@context.Country</MudTd>
            <MudTd DataLabel="Status">@context.Status</MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    private Location[] locations;

    protected override async Task OnInitializedAsync()
    {
        locations = await Http.GetFromJsonAsync<Location[]>("api/Location");
    }
}
